<h1>All Posts</h1>
<% @posts.each do |post| %>
  <div class="post">
    <div class="user-info">
      <%= image_tag post.author.photo.url, alt: 'User Photo', class: 'user-photo' %>
      <h2><%= post.author.name %></h2>
      <p>Total Posts: <%= post.author.posts_counter %></p>
    </div>
    <div class="post-info">
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.text %></p>
      <p>Comments: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></p>
      <h4>Comments:</h4>
      <ul>
        <% post.comments.each do |comment| %>
          <li><%= comment.text %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>