<div class="post-details">
  <h2>Post #<%= @post.id %> by <%= @post.author.name %></h2>
  <p>Total Comments: <%= @post.comments_counter %>, Likes: <%= @post.likes_counter %></p>
</div>

<div class="post-content">
  <h1><%= @post.title %></h1>
  <p><%= @post.text %></p>
</div>

<div class="comments-section">
  <h3>Comments:</h3>
  <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.text %></li>
    <% end %>
  </ul>
</div>
