<div class="container mt-5">
  <%= render 'partial/user_card', user: @user %>
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title">Bio</h4>
      <p><%= @user.bio %></p>
    </div>
  </div>
  <% @posts.each do |post| %>
    <a href="/users/<%= @user.id %>/posts/<%= post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'partial/post_card', post: post %>
      </div>
    </a>
  <% end %>
  <div class="w-100 mt-5 d-flex justify-content-center align-items-center">
    <a href="/users/<%= @user.id %>/posts" class="btn btn-primary">See all posts</a>
  </div>
</div>