<div class="container mt-5">

  <%= render partial: 'partials/user_card', locals: { user: @user } %>
  
  <div class="card mb-4">
    <div class="card-body">
      <h4 class="card-title"><%= @post.title %> by <%= @post.author.name %></h4>
      <div class="d-flex gap-1">
        <p class="m-0">Comments: <%= @post.comments_counter %>,</p>
        <p class="m-0">Likes: <%= @post.likes_counter %></p>
      </div>
      <p class="mt-2"><%= @post.text %></p>
    </div>
  </div>
  
  <%= render partial: 'partials/comments_card', locals: { comments: @post.comments } unless @post.comments.empty? %>
</div>